 <widget id="A6093043874032"  version="0.0.1">
    <name>clicli客户端</name>
    <description>
        Example For APICloud.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(254, 254, 254)"/>
	<preference name="windowBackground" value="rgba(254, 254, 254)"/>
	<preference name="frameBackgroundColor" value="rgba(254, 254, 254)"/>
	<preference name="hScrollBarEnabled" value="false"/>
	<preference name="vScrollBarEnabled" value="false"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="true" />
	<preference name="debug" value="true"/>
	<preference name="statusBarAppearance" value="true"/>
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />    <feature name="ajpush">        <param name="app_key" value="df9da60f9a78e741a43a118b" />        <param name="channel" value="clicli official" />    </feature>    <preference name="checkSslTrusted" value="false" />
</widget>