* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
html {
  height: 100%;
}
body {
  background: url(https://ws1.sinaimg.cn/large/0065Zy9egy1g0exold22hj31xg0u0npd.jpg)
    no-repeat center top;
  background-size: auto 100%;
  transition: 1s;
}
.mainer {
  width: 500px;
  margin: 0 auto;
}
.logo {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  background: url(https://ws1.sinaimg.cn/large/0065Zy9egy1g0extq9eyxj30e80e8q3t.jpg);
  background-size: cover;
  margin: 80px auto 30px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.8);
}
h1 {
  color: #fff;
  text-align: center;
  font-size: 16px;
  letter-spacing: 4px;
  margin-top: 50px;
}
.link {
  margin-top: 50px;
}
.link a {
  display: block;
  text-align: center;
}
.link li {
  color: #fff;
  text-align: center;
  width: 150px;
  padding: 6px 0;
  border: 1px solid rgba(255, 255, 255, .8);
  display: inline-block;
  margin: 10px auto;
  border-radius: 4px;
  transition: .5s
}

.link li:hover{
  background: rgba(255, 255, 255, .2)
}
.qcode{
  text-align: center
}
.qcode img{
  widows: 150px;
  height: 150px;
  margin: 50px auto;
  text-align: center
}